<footer class="footer">
    <div class="container">
        <a class="footer-brand" href="#pablo">Dark Eternal</a>


        <ul class="pull-center">
            <li>
                <a href="/">
                   Blog
                </a>
            </li>
            <li>
                <a href="{% url 'about' %}">
                    About
                </a>
            </li>
            <li>
                <a href="{% url 'contact' %}">
                    Contact Us
                </a>
            </li>
        </ul>

        <ul class="social-buttons pull-right">
            <li>
                <a href="https://github.com/MuhRamadhani" target="_blank" class="btn btn-just-icon btn-github btn-simple">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/ramadhani52110" target="_blank" class="btn btn-just-icon btn-instagram btn-simple">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>

    </div>
</footer>